BattleTank/Content/StarterContent/
BattleTank/Content/tank/tank_fbx_Body.uasset
BattleTank/Content/tank/tank_fbx_Track.uasset
BattleTank/Content/tank/tank_fbx_Turret.uasset
BattleTank/Content/tank/tank_fbx_Barrel.uasset
BattleTank/Content/BattleGroundGeight.umap
